.bodyG {
  height: 50vh;
  padding: 5% 10%;
}

.bodyG p {
  display: flex;
  align-self: flex-start;
  margin-bottom: 3%;
  font-size: x-large;
  font-weight: 600;
}

.bodyG img {
  display: flex;
  align-self: flex-start;
}

.bodyG .btnG {
  display: flex;
  align-self: flex-start;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 120px;
  border: none;
  border-radius: 27px;
  background-color: blueviolet;
  color: white;
  font-size: large;
  margin-top: 3%;
}

.icon {
  color: blueviolet;
  padding: 5px 10px;
}
