.bodyA {
  height: 65vh;
}

.imgs img {
  margin-top: 3%;
}

.box {
  height: 32vh;
  background-color: rgb(40, 40, 118);
  margin: 1% 4% 4%;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h1 {
  color: white;
  padding-top: 25px;
}

.box p {
  color: rgb(71, 188, 71);
  font-weight: bold;
  display: flex;
  height: auto;
  align-items: center;
}

.icons {
  padding: 0 9px;
}
